.home-hero {
    position: relative;
}

.home-hero video{
    height: 80vh;
    width: 100vw;
    object-fit: fill;
}

.home-hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px;
  }

  .overlay-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .overlay-text {
    font-weight: 900;
    font-size: 6vw;
    text-transform: uppercase;
  }

  .overlay-signup {
    padding: 3vh 5vw 3vh 5vw;
  }

  .overlay-button {
    background-color: rgba(255, 255, 255, 0.1); 
    border: white solid;
    cursor: pointer; 
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 5px;
  }

  .overlay-button a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
  }

  .overlay-button:hover{
    background-color: rgb(255, 255, 255, 0.3);


  }


.aboutus {
    background-color: #e8faea;
    height: 70vh;
    width: 100vw;
}

.services {
    background-color: white;
    height: 70vh;
    width: 100vw;
}

@media (max-width: 576px) {
    .home-hero video{
        height: 80vh;
        width: 100vw;
        object-fit: cover;
    }
  .overlay-text {
    font-weight: 900;
    font-size: 10vw;
    text-transform: uppercase;
  }

  .overlay-button {
    background-color: rgba(255, 255, 255, 0.1); 
    border: white solid;
    cursor: pointer; 
    padding: 1vh 3vw 1vh 3vw;
    border-radius: 5px;
  }
  .overlay-button a {
    color: white;
    font-size: 5vw;
    text-decoration: none;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
    .home-hero video{
        height: 80vh;
        width: 100vw;
        object-fit: cover;
    }
  .overlay-text {
    font-weight: 900;
    font-size: 10vw;
    text-transform: uppercase;
  }

  .overlay-button {
    background-color: rgba(255, 255, 255, 0.1); 
    border: white solid;
    cursor: pointer; 
    padding: 1vh 3vw 1vh 3vw;
    border-radius: 5px;
  }
  .overlay-button a {
    color: white;
    font-size: 5vw;
    text-decoration: none;
  }
}

@media (min-width: 993px) and (max-width: 1440px) {
    .home-hero video{
        height: 80vh;
        width: 100vw;
        object-fit: cover;
    }
  .overlay-text {
    font-weight: 900;
    font-size: 8vw;
    text-transform: uppercase;
  }

  .overlay-button {
    background-color: rgba(255, 255, 255, 0.1); 
    border: white solid;
    cursor: pointer; 
    padding: 1vh 3vw 1vh 3vw;
    border-radius: 5px;
  }
  .overlay-button a {
    color: white;
    font-size: 3vw;
    text-decoration: none;
  }
} 
