/* HOME HERO */

.home-hero {
    position: relative;
}

.home-hero video{
    height: 85vh;
    width: 100vw;
    object-fit: fill;
    
}

.home-hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px;
  }

  .overlay-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .overlay-text {
    font-weight: 900;
    font-size: 6vw;
    text-transform: uppercase;
  }

  .overlay-signup {
    padding: 3vh 5vw 3vh 5vw;
  }

  .overlay-button {
    background-color: rgba(255, 255, 255, 0.1); 
    border: white solid;
    cursor: pointer; 
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 5px;
  }

  .overlay-button a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
  }

  .overlay-button:hover{
    background-color: rgb(255, 255, 255, 0.3);


  }


/* FOR SECTIONS */

.section-darken {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
}

.section-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5vh 10vw 5vh 10vw;
}

.section-title {
  color: white;
  font-size: 5vh;
  font-weight: 900;
  margin-bottom: 10vh;
}

.section-desc {
  color: white;
  font-size: 2vh;
  font-weight: 700;
  line-height: 4vh;
}

/* FIND PEOPLE */

.find-people {
   background-image: url(../library/media/URConnect_Stock3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}

/* ABOUT US */

.aboutus {
    background-image: url(../library/media/URConnect_Stock1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}

/* SERVICES */

.services {
    background-image: url(../library/media/URConnect_Stock2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}

.section-desc-feat {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  align-items: center;
}

.feat {
  list-style: none;
  margin-bottom: 2vh;
  width: 25vw;
}


/* MEDIA QUERIES */

@media (max-width: 576px) {
    .home-hero video{
        height: 80vh;
        width: 100vw;
        object-fit: cover;
    }
  .overlay-text {
    font-weight: 900;
    font-size: 10vw;
    text-transform: uppercase;
  }

  .overlay-button {
    background-color: rgba(255, 255, 255, 0.1); 
    border: white solid;
    cursor: pointer; 
    padding: 1vh 3vw 1vh 3vw;
    border-radius: 5px;
  }
  .overlay-button a {
    color: white;
    font-size: 5vw;
    text-decoration: none;
  }

  .aboutus {
    background-image: url(../library/media/URConnect_Stock1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

  .section-desc-feat {
    display: flex;
    flex-direction: row;
    gap: 5vw;
  }
  
  .feat {
    list-style: none;
    border: black solid;
    margin-bottom: 2vh;
}
}

@media (min-width: 577px) and (max-width: 992px) {
    .home-hero video{
        height: 80vh;
        width: 100vw;
        object-fit: cover;
    }
  .overlay-text {
    font-weight: 900;
    font-size: 10vw;
    text-transform: uppercase;
  }

  .overlay-button {
    background-color: rgba(255, 255, 255, 0.1); 
    border: white solid;
    cursor: pointer; 
    padding: 1vh 3vw 1vh 3vw;
    border-radius: 5px;
  }
  .overlay-button a {
    color: white;
    font-size: 5vw;
    text-decoration: none;
  }
}

@media (min-width: 993px) and (max-width: 1440px) {
    .home-hero video{
        height: 80vh;
        width: 100vw;
        object-fit: cover;
    }
  .overlay-text {
    font-weight: 900;
    font-size: 8vw;
    text-transform: uppercase;
  }

  .overlay-button {
    background-color: rgba(255, 255, 255, 0.1); 
    border: white solid;
    cursor: pointer; 
    padding: 1vh 3vw 1vh 3vw;
    border-radius: 5px;
  }
  .overlay-button a {
    color: white;
    font-size: 3vw;
    text-decoration: none;
  }
}