body{
    background-image: url(../library/media/IMG_8921443.jpg);
}

.jobList{
    display: flex;
    flex-direction: column;
    height: 1200px;
    width: 400px;
    background-color: white;
    margin-right: 50px;
    overflow-y: scroll;
    padding-top: 15px;
    scrollbar-width: thin;
    scrollbar-color: rgb(11, 88, 11) white;
    border: 4px solid #1c6928;
    box-shadow: inset 5px 5px 7px 1px rgba(0,0,0,0.59);
}

.listing{
    margin-top: 10px;
    flex-direction: row;
}

.jobPosting{
    display: flex;
    border-bottom: 2px solid rgb(0, 0, 0);
    
}

.jobDetails{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
}

.jobImg{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 10px;
    border: 2px solid black;
}

.jobName{
    font-size: 20px;
}

.jobInfo{
    height: 1215px;
    width: 800px;
    background-color: white;
    border: 4px solid #1c6928;
    box-shadow: inset 5px 5px 7px 1px rgba(0,0,0,0.59);
}

.titleCard{
    display: flex;
    width: 800px;
}

.mainImg{
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
}

.mainName{
    font-size: 40px;
}

.titlecardFont{
    font-size: 20px;
}

.jobDescription{
    height: 900px;
    border: 4px solid rgb(58, 57, 57);
    border-radius: 5px;
}

.applyForm{
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.applyButton{
    height: 50px;
    width: 200px;
}


@media (min-width:375px) and (max-width: 1200px) {
   
    .jobList{
        width: 35%;
        margin-right: 4px;
    }
    .jobInfo{
        width: 65%;
    }
    .titleCard{
        width: 100%;
    }
    .jobDetails{
        width: 100%;
    }
}

