body{
    background-image: url(../library/media/university-of-regina.avif);
    background-size: cover;
    background-position: center;
}

.float-right{
    float: right;
}

.float-left {
    float: left;
}

.spacing{
    padding-left: 25px;
    padding-right: 25px;
}

.align-center{
    text-align: center;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #1c6928;
}

.cust-main-wrapper{
    background-color: #fff;
    width: 50vw;
    height: 70vh;
    border-radius: 5px;
    border: 4px solid #1c6928;
    box-shadow: inset 5px 5px 7px 1px rgba(0,0,0,0.59);
    padding: 2vw;
    display: flex;
    align-items: center;
}

.info-box{
    grid-area: 1 / 1 / 3 / 2;
    height: 70vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-box1{
    grid-area: 1 / 1 / 3 / 2;
    height: 70vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-box2 { 
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    height: 50vh;
    width: 30vw;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-left: 1vw;
    margin-right: 1vw;
}

.userDetails{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    justify-items: center;
    gap: 1vw;
    padding: 1.5vh;
}

.detailText{
    font-size: 20px;
    max-width: 200px;
    overflow-wrap: break-word;
    text-align: center;
}

.jobPosting{
    display: flex;
    border-bottom: 2px solid rgb(214, 211, 211);
}

.jobDetails{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
}

.jobList{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    background-color: white;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(11, 88, 11) white;
    border: 4px solid #1c6928;
}

.jobImg{
    height: 13vh;
    width: 8vw;
    border-radius: 50%;
    border: black 2px solid;
}

.appliedImg{
    height: 9vh;
    width: 5vw;
    border-radius: 50%;
    border: black 2px solid;
    margin: 0.25vw;
}

.resumeButton{
    margin-top: 20px;
    height: 40px;
    width: 200px;
}

@media (max-width: 576px) {
    
}

@media (min-width: 577px) and (max-width: 992px) {

}

@media (min-width: 993px) and (max-width: 1440px) {

}
