body{
    background-image: url(../library/media/university-of-regina.avif);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.float-right{
    float: right;
}

.float-left {
    float: left;
}

.spacing{
    padding-left: 25px;
    padding-right: 25px;
}

.padTop{
    padding-top: 25px;
}

.align-center{
    text-align: center;
}


.cust-main-wrapper{
    background-color: #fff;
    width: 50vw;
    height: 70vh;
    padding: 1vw;
    justify-items: center;
    border-radius: 5px;
    border: 4px solid #1c6928;;
    box-shadow: inset 5px 5px 7px 1px rgba(0,0,0,0.59);
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
}

.info-box{
    grid-area: 1 / 1 / 3 / 2;
    height: 70vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userDetails{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2vw 20vh;
    margin: 1vh 0 1vh 0;
}

.detailText{
    font-size: 20px;
    max-width: 300px;
    overflow-wrap: break-word;
    text-align: center;
}

.jobPosting{
    display: flex;
    border-bottom: 2px solid rgb(214, 211, 211);
}

.jobDetails{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
}

.jobList{
    display: flex;
    flex-direction: column;
    height: 220px;
    width: 80%;
    background-color: white;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(11, 88, 11) white;
    border: 4px solid #1c6928;;

}

.jobImg{
    max-height: 100px;
}

.resumeButton{
    margin-top: 20px;
    height: 40px;
    width: 200px;
}


@media (max-width: 576px) {
    .profile-icon {
        width: 15vw;
        height: 8vh;
    }
    
    .cust-main-wrapper{
        background-color: #fff;
        width: 85vw;
        height: 80vh;
        padding: 1vw;
    }
    
    .info-box{
        height: 80vh;
        width: 80vw;
    }
    
    .userDetails{
        align-items: center;
        gap: 2vw 1vh;
        margin: 1vh 0 1vh 0;
    }
    
    .detailText{
        font-size: 2.5vh;
    }
}

@media (min-width: 577px) and (max-width: 992px) {
    .profile-icon {
        width: 15vw;
        height: 8vh;
    }
    
    .cust-main-wrapper{
        background-color: #fff;
        width: 85vw;
        height: 60vh;
        padding: 1vw;
    }
    
    .info-box{
        height: 60vh;
        width: 80vw;
    }
    
    .userDetails{
        align-items: center;
        gap: 2vw 1vh;
        margin: 1vh 0 1vh 0;
    }
    
    .detailText{
        font-size: 2.5vh;
    }
}

@media (min-width: 993px) and (max-width: 1440px) {
    .profile-icon {
        width: 10vw;
        height: 10vh;
    }
    
    .cust-main-wrapper{
        background-color: #fff;
        width: 60vw;
        height: 80vh;
        padding: 1vw;
    }
    
    .info-box{
        height: 80vh;
        width: 60vw;
    }
    
    .userDetails{
        align-items: center;
        gap: 2vw 1vh;
        margin: 1vh 0 1vh 0;
    }
    
    .detailText{
        font-size: 2.5vh;
    }
}
