<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Creation</title>
    <link rel="stylesheet" type="text/css" href="../../Root/css/accountCreate.css">
    <link rel="stylesheet" type="text/css" href="../../Root/css/sharred.css">
</head>
<body>
    <div class="page-wrap">

        <nav>
            <img src="../../Root/library/media/UR_Logo_Primary_Full_COlour_RGB.png" height="62">
        </nav>

        <div class="main-wrapper">

            <div class="login-box">
                <div class="create-account">
                    <img src="../../Root/library/media/UR_Logo_Primary_Full_COlour_RGB.png" height="125">
                    <h1> Sign Up Now! </h1>
                    <label for="account_Type">Choose account type: </label>
                    <select name="account_Type" id="account_Type">
                        <option value="Student">Student</option>
                        <option value="Employer">Employer</option>

                    </select>

                    <form>

                        <section class="space">
                            <label class="float-left">Email:</label>
                            <input type="email" placeholder="Enter Email">
                        </section>

                        <section class="space">
                            <label class="float-left">Password:</label>
                            <input type="password" placeholder="Enter Password">
                        </section>

                        <section class="space">
                            <label class="float-left">Confirm Password:</label>
                            <input type="password" placeholder="Re-enter Password">
                        </section>

                        <input class="button-custom greenButton" type="button" value="Create Account">

                        <section>
                            <label class="space">Already have an account?<a href=""> Log In Here!</a></label>
                        </section>
            
                    </form>
                </div>
            </div>
           

        </div>

    </div>
    
</body>
</html>