<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customize Employer Profile</title>
    <link rel="stylesheet" type="text/css" href="../../Root/css/sharred.css">
    <link rel="stylesheet" type="text/css" href="../../Root/css/employerProfile.css">
    <link rel="stylesheet" type="text/css" href="../../Root/css/employerprofileEdit.css">

</head>
<body>

<!-- 
        ALL IDS
        submitForm
        employerAvatar
        employerfirstName
        employerlastName
        employerEmail
        employerPassword
        employerconfirmPassword
        companyName
        companyAddress
        companyNumber
        newemployerAvatar
        backButton
        saveButton 
    -->




    <div class="page-wrap">

        <nav>
            <img src="../../Root/library/media/UR_Logo_Primary_Full_COlour_RGB.png" height="62">
        </nav>

      <!-- Action location for backend -->
        <form method="get" action="" id="submitForm" class="cust-main-wrapper">

            <div class="info-box1">
                <div class="align-center">
                    <img src="../../Root/library/media/avatar1.jpg" id="employerAvatar" class="avatar">
                </div>

                <h1 class="align-center titleText">User Details</h1>
            </div>

            <div class="info-box2">

                    <div class="userDetails">
                        
                            <label class="inputLabel float-left" >First Name:</label>
                            <input class="inputBox" type="text" id="employerfirstName" placeholder="First Name">
                        
                            <label class="inputLabel float-left" >Last Name:</label>
                            <input class="inputBox" type="text" id="employerlastName" placeholder="Last Name">

                            <label class="inputLabel float-left" >Email:</label>
                            <input class="inputBox" type="email" id="employerEmail" placeholder="Enter Email">

                            <label class="inputLabel float-left" >Password:</label>
                            <input class="inputBox" type="password" id="employerPassword" placeholder="Enter Password">

                            <label class="inputLabel float-left" >Confirm Password:</label>
                            <input class="inputBox" type="password" id="employerconfirmPassword" placeholder="Confirm Password">

                    </div>

            </div>

            <div class="info-box3">
           

                    <div class="userDetails">

                        <label class="inputLabel float-left" >Company Name:</label>
                        <input class="inputBox" type="text" id="companyName" placeholder="Company Name">

                        <label class="inputLabel float-left" >Company Address:</label>
                        <input class="inputBox" type="text" id="companyAddress" placeholder="Company Address">

                        <label class="inputLabel float-left" >Company Number:</label>
                        <input class="inputBox" type="text" id="companyNumber" placeholder="Company Number">

                        <label class="inputLabel float-left" >Company Avatar:</label>
                        <input class="pictureInput" type="file" accept="image/*" id="newemployerAvatar" placeholder="Company Number">



                        <button class="submitButton greenButton" id="backButton" type="submit">Back</button>
                        <button class="submitButton greenButton" id="saveButton" type="submit">Save Changes</button>

                    </div>

                    
                    
            </div>
        </form>
    
    </div>
</body>
</html>