<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../../Root/css/sharred.css">
    <link rel="stylesheet" type="text/css" href="../../Root/css/home.css">
</head>
<body>

    <div class="page-wrap">

        <nav>
            <img src="../../Root/library/media/UR_Logo_Primary_Full_COlour_RGB.png" class="logo">
        </nav>

        <div class="main-wrapper">

            <div class="login-box">
                
                <img src="../../Root/library/media/UR_Logo_Primary_Full_COlour_RGB.png" class="fitBox"alt="">

                <form class="loginForm">
                    <div class="inputField">
                        <label class="inputLabel">Email</label>
                        <div class="inputTextbox">
                            <input class="text-input" id="emailKey">
                        </div>
                    </div>
                    <div class="inputField">
                        <label class="inputLabel">Password</label>
                        <div class="inputTextbox">
                            <input class="text-input" id="passwordKey">
                        </div>
                    </div>

                    <button class="greenButton loginButton"> Login</button>

                    <section class="space">
                        <label> <a href="">Create new account</a></label>
                    </section>

                </form>


            </div>
           

        </div>

    </div>

</body>
</html>