<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Listings | URConnect</title>
    <link rel="stylesheet" type="text/css" href="../../Root/css/shared.css">
    <link rel="stylesheet" type="text/css" href="../../Root/css/jobListings.css">
    <link rel="stylesheet" type="text/css" href="../../Root/css/listingsEmployer.css">
    <script src="../../Root/js/postJob.js" defer></script>
</head>
<body>
    
    <nav>
        <img src="../../Root/library/media/UR_Logo_Primary_Full_COlour_RGB.png" class="logo">
    </nav>

    <div class="listing main-wrapper">

        <div class="jobList roundForm">
            <div class="jobPosting" id="testJob1">
                <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="jobImg">

                <div class="jobDetails">
                    <label class="jobName bold">Administrative Assistant</label>
                    <label class="jobCompany">University of Regina</label>
                    <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                    <label class="datePosted">2 months ago</label>
                </div>

            </div>
        
            <div class="jobPosting" id="testJob2">
                <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="jobImg">

                <div class="jobDetails">
                    <label class="jobName bold">Administrative Assistant</label>
                    <label class="jobCompany">University of Regina</label>
                    <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                    <label class="datePosted">2 months ago</label>
                </div>

            </div>
            <div class="jobPosting" id="testJob2">
                <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="jobImg">

                <div class="jobDetails">
                    <label class="jobName bold">Administrative Assistant</label>
                    <label class="jobCompany">University of Regina</label>
                    <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                    <label class="datePosted">2 months ago</label>
                </div>

            </div>
            <div class="jobPosting" id="testJob2">
                <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="jobImg">

                <div class="jobDetails">
                    <label class="jobName bold">Administrative Assistant</label>
                    <label class="jobCompany">University of Regina</label>
                    <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                    <label class="datePosted">2 months ago</label>
                </div>

            </div>
            <div class="jobPosting" id="testJob2">
                <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="jobImg">

                <div class="jobDetails">
                    <label class="jobName bold">Administrative Assistant</label>
                    <label class="jobCompany">University of Regina</label>
                    <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                    <label class="datePosted">2 months ago</label>
                </div>

            </div>
            <div class="jobPosting" id="testJob2">
                <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="jobImg">

                <div class="jobDetails">
                    <label class="jobName bold">Administrative Assistant</label>
                    <label class="jobCompany">University of Regina</label>
                    <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                    <label class="datePosted">2 months ago</label>
                </div>

            </div>
            <div class="jobPosting" id="testJob2">
                <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="jobImg">

                <div class="jobDetails">
                    <label class="jobName bold">Administrative Assistant</label>
                    <label class="jobCompany">University of Regina</label>
                    <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                    <label class="datePosted">2 months ago</label>
                </div>

            </div>
            <div class="jobPosting" id="testJob2">
                <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="jobImg">

                <div class="jobDetails">
                    <label class="jobName bold">Administrative Assistant</label>
                    <label class="jobCompany">University of Regina</label>
                    <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                    <label class="datePosted">2 months ago</label>
                </div>

            </div>
            <div class="jobPosting" id="testJob2">
                <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="jobImg">

                <div class="jobDetails">
                    <label class="jobName bold">Administrative Assistant</label>
                    <label class="jobCompany">University of Regina</label>
                    <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                    <label class="datePosted">2 months ago</label>
                </div>

            </div>
            <div class="jobPosting" id="testJob2">
                <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="jobImg">

                <div class="jobDetails">
                    <label class="jobName bold">Administrative Assistant</label>
                    <label class="jobCompany">University of Regina</label>
                    <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                    <label class="datePosted">2 months ago</label>
                </div>

            </div>
            <div class="jobPosting" id="testJob2">
                <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="jobImg">

                <div class="jobDetails">
                    <label class="jobName bold">Administrative Assistant</label>
                    <label class="jobCompany">University of Regina</label>
                    <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                    <label class="datePosted">2 months ago</label>
                </div>

            </div>
            <div class="jobPosting" id="testJob2">
                <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="jobImg">

                <div class="jobDetails">
                    <label class="jobName bold">Administrative Assistant</label>
                    <label class="jobCompany">University of Regina</label>
                    <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                    <label class="datePosted">2 months ago</label>
                </div>

            </div>
            <div class="jobPosting" id="testJob2">
                <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="jobImg">

                <div class="jobDetails">
                    <label class="jobName bold">Administrative Assistant</label>
                    <label class="jobCompany">University of Regina</label>
                    <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                    <label class="datePosted">2 months ago</label>
                </div>

            </div>
            <div class="jobPosting" id="testJob2">
                <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="jobImg">

                <div class="jobDetails">
                    <label class="jobName bold">Administrative Assistant</label>
                    <label class="jobCompany">University of Regina</label>
                    <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                    <label class="datePosted">2 months ago</label>
                </div>

            </div>
            <div class="jobPosting" id="testJob2">
                <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="jobImg">

                <div class="jobDetails">
                    <label class="jobName bold">Administrative Assistant</label>
                    <label class="jobCompany">University of Regina</label>
                    <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                    <label class="datePosted">2 months ago</label>
                </div>

            </div>
            <div class="jobPosting" id="testJob2">
                <img src="../../Root/library/media/avatar1.jpg" class="jobImg">

                <div class="jobDetails">
                    <label class="jobName bold">Administrative Assistant</label>
                    <label class="jobCompany">University of Regina</label>
                    <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                    <label class="datePosted">2 months ago</label>
                </div>

            </div>
            




        </div>
        <div class="jobInfo roundForm">
            
            <div class="titleCard">
                <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="mainImg">
                <div class="jobDetails">
                    <label class="mainName bold">Administrative Assistant</label>
                    <label class="titlecardFont">University of Regina</label>
                    <label class="titlecardFont">Regina, Saskatchewan, Canada</label>
                    <label class="titlecardFont">2 months ago</label>
                </div>
            </div>

            <div class="jobDescription">
                    
                

            </div>

     

        </div>
       


        <div class="jobList roundForm">
            <div class="jobPosting" id="testJob1">
                <img src="../../Root/library/media/avatar1.jpg" class="jobImg">
    
                <div class="jobDetails">
                    <label class="jobName bold">Student Name</label>
                    <label class="jobCompany">Major</label>
                    <label class="jobLocation">Email</label>
                    <label class="datePosted">Date applied</label>
                </div>
    
            </div>
        
            <div class="jobPosting" id="testJob1">
                <img src="../../Root/library/media/avatar1.jpg" class="jobImg">
    
                <div class="jobDetails">
                    <label class="jobName bold">Student Name</label>
                    <label class="jobCompany">Major</label>
                    <label class="jobLocation">Email</label>
                    <label class="datePosted">Date applied</label>
                </div>
    
            </div>
            <div class="jobPosting" id="testJob1">
                <img src="../../Root/library/media/avatar1.jpg" class="jobImg">
    
                <div class="jobDetails">
                    <label class="jobName bold">Student Name</label>
                    <label class="jobCompany">Major</label>
                    <label class="jobLocation">Email</label>
                    <label class="datePosted">Date applied</label>
                </div>
    
            </div>
        
            <div class="jobPosting" id="testJob1">
                <img src="../../Root/library/media/avatar1.jpg" class="jobImg">
    
                <div class="jobDetails">
                    <label class="jobName bold">Student Name</label>
                    <label class="jobCompany">Major</label>
                    <label class="jobLocation">Email</label>
                    <label class="datePosted">Date applied</label>
                </div>
    
            </div>
            <div class="jobPosting" id="testJob1">
                <img src="../../Root/library/media/avatar1.jpg" class="jobImg">
    
                <div class="jobDetails">
                    <label class="jobName bold">Student Name</label>
                    <label class="jobCompany">Major</label>
                    <label class="jobLocation">Email</label>
                    <label class="datePosted">Date applied</label>
                </div>
    
            </div>
        
            <div class="jobPosting" id="testJob1">
                <img src="../../Root/library/media/avatar1.jpg" class="jobImg">
    
                <div class="jobDetails">
                    <label class="jobName bold">Student Name</label>
                    <label class="jobCompany">Major</label>
                    <label class="jobLocation">Email</label>
                    <label class="datePosted">Date applied</label>
                </div>
    
            </div>
            <div class="jobPosting" id="testJob1">
                <img src="../../Root/library/media/avatar1.jpg" class="jobImg">
    
                <div class="jobDetails">
                    <label class="jobName bold">Student Name</label>
                    <label class="jobCompany">Major</label>
                    <label class="jobLocation">Email</label>
                    <label class="datePosted">Date applied</label>
                </div>
    
            </div>
        
            <div class="jobPosting" id="testJob1">
                <img src="../../Root/library/media/avatar1.jpg" class="jobImg">
    
                <div class="jobDetails">
                    <label class="jobName bold">Student Name</label>
                    <label class="jobCompany">Major</label>
                    <label class="jobLocation">Email</label>
                    <label class="datePosted">Date applied</label>
                </div>
    
            </div>
            <div class="jobPosting" id="testJob1">
                <img src="../../Root/library/media/avatar1.jpg" class="jobImg">
    
                <div class="jobDetails">
                    <label class="jobName bold">Student Name</label>
                    <label class="jobCompany">Major</label>
                    <label class="jobLocation">Email</label>
                    <label class="datePosted">Date applied</label>
                </div>
    
            </div>
        
            <div class="jobPosting" id="testJob1">
                <img src="../../Root/library/media/avatar1.jpg" class="jobImg">
    
                <div class="jobDetails">
                    <label class="jobName bold">Student Name</label>
                    <label class="jobCompany">Major</label>
                    <label class="jobLocation">Email</label>
                    <label class="datePosted">Date applied</label>
                </div>
    
            </div>
            <div class="jobPosting" id="testJob1">
                <img src="../../Root/library/media/avatar1.jpg" class="jobImg">
    
                <div class="jobDetails">
                    <label class="jobName bold">Student Name</label>
                    <label class="jobCompany">Major</label>
                    <label class="jobLocation">Email</label>
                    <label class="datePosted">Date applied</label>
                </div>
    
            </div>
        
            <div class="jobPosting" id="testJob1">
                <img src="../../Root/library/media/avatar1.jpg" class="jobImg">
    
                <div class="jobDetails">
                    <label class="jobName bold">Student Name</label>
                    <label class="jobCompany">Major</label>
                    <label class="jobLocation">Email</label>
                    <label class="datePosted">Date applied</label>
                </div>
    
            </div>
            <div class="jobPosting" id="testJob1">
                <img src="../../Root/library/media/avatar1.jpg" class="jobImg">
    
                <div class="jobDetails">
                    <label class="jobName bold">Student Name</label>
                    <label class="jobCompany">Major</label>
                    <label class="jobLocation">Email</label>
                    <label class="datePosted">Date applied</label>
                </div>
    
            </div>
        
            <div class="jobPosting" id="testJob1">
                <img src="../../Root/library/media/avatar1.jpg" class="jobImg">
    
                <div class="jobDetails">
                    <label class="jobName bold">Student Name</label>
                    <label class="jobCompany">Major</label>
                    <label class="jobLocation">Email</label>
                    <label class="datePosted">Date applied</label>
                </div>
    
            </div>
            <div class="jobPosting" id="testJob1">
                <img src="../../Root/library/media/avatar1.jpg" class="jobImg">
    
                <div class="jobDetails">
                    <label class="jobName bold">Student Name</label>
                    <label class="jobCompany">Major</label>
                    <label class="jobLocation">Email</label>
                    <label class="datePosted">Date applied</label>
                </div>
    
            </div>
        
            <div class="jobPosting" id="testJob1">
                <img src="../../Root/library/media/avatar1.jpg" class="jobImg">
    
                <div class="jobDetails">
                    <label class="jobName bold">Student Name</label>
                    <label class="jobCompany">Major</label>
                    <label class="jobLocation">Email</label>
                    <label class="datePosted">Date applied</label>
                </div>
    
            </div>


    </div>

        
    </div>


</body>
</html>