<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Customization</title>
    <link rel="stylesheet" type="text/css" href="../../Root/css/sharred.css">
    <link rel="stylesheet" type="text/css" href="../../Root/css/profileCust1.css">
</head>
<body>
    
    <div class="page-wrap">

        <nav>
            <img src="../../Root/library/media/UR_Logo_Primary_Full_COlour_RGB.png" height="62">
        </nav>

    <div class="cust-main-wrapper">

        <div class="info-box">

            <a class="float-right" href="">Edit Profile</a>

            <img src="../../Root/library/media/avatar.jpg" class="avatar">

            <h1 class="align-center">User details</h1>
        
                <section>
                    
                    <table>

                        <tr class="align-center">
                            <th>Email</th>
                        </tr>

                        <tr class="align-center">
                            <td>ksj214@uregina.ca</td>
                        </tr>

                    </table>

                </section>

        </div>

        <div class="login-box">
            <h1 class="align-center">Course Info</h1>

                <section>

                    <table>
                        <tr class="align-center">
                            <th>Current Major</th>
                            <th>Current Minor</th>
                        </tr>
                        <tr class="align-center">
                            <td>Bachelors of Comp Sci</td>
                            <td>NA</td>
                        </tr>
                    </table>

                </section>

        </div>
    </div>

    
    
    
    
    
    
    
    
    
    </div>

</body>
</html>