<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customize Student Profile</title>
    <link rel="stylesheet" type="text/css" href="../../Root/css/sharred.css">
    <link rel="stylesheet" type="text/css" href="../../Root/css/profileCust1Edit.css">
</head>
<body>
    
    <div class="page-wrap">

        <nav>
            <img src="../../Root/library/media/UR_Logo_Primary_Full_COlour_RGB.png" height="62">
        </nav>

        <div class="cust-main-wrapper">

            <div class="info-box">

                <div class="align-center">
                    <img src="../../Root/library/media/avatar.jpg" class="avatar">
                </div>

                <h1 class="align-center">User details</h1>
        
                    <section>
                    
                        <label class="inputLabel float-left" >First Name:</label>
                        <input class="inputBox" type="text" placeholder="First Name">
                    
                        <label class="inputLabel float-left" >Last Name:</label>
                        <input class="inputBox" type="text" placeholder="Last Name">

                        <label class="inputLabel float-left" >Email:</label>
                        <input class="inputBox" type="email" placeholder="Enter Email">

                        <label class="inputLabel float-left">Student ID:</label>
                        <input class="inputBox" type="text" placeholder="Student ID">

                        <div class="padTop">
                            <a class="float-right" href="profileCust1.html">Save Changes</a>
                        </div>

                    </section>

            </div>

            <div class="info-box">
                <h1 class="align-center">Course Info</h1>

                    <section>

                        <label class="inputLabel float-left" >Current Major:</label>
                        <input class="inputBox" type="text" placeholder="Current Major">

                        <label class="inputLabel float-left" >Current Minor:</label>
                        <input class="inputBox" type="text" placeholder="Current Minor">
                    

                    </section>

            </div>
        </div>
    
    </div>

</body>
</html>