<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Profile</title>
    <link rel="stylesheet" type="text/css" href="../../Root/css/sharred.css">
    <link rel="stylesheet" type="text/css" href="../../Root/css/profileCust1.css">
</head>
<body>
    
    <div class="page-wrap">

            <nav>
                <img src="../../Root/library/media/UR_Logo_Primary_Full_COlour_RGB.png" height="62">
            </nav>

        <div class="cust-main-wrapper">

            <div class="info-box">

                <div class="align-center">
                    <img src="../../Root/library/media/avatar.jpg" class="avatar">
                </div>

                <h1 class="align-center">Kaleb Saggu</h1>

                <p class="align-center">Status: Is/Isn't for hire</p>

                <h2 class="align-center">Bio</h2>

                <textarea rows="8" cols="37">Bio</textarea>

                <h2 class="align-center">User details</h2>
        
                    <section>
                    
                        <table class="spacing">

                            <tr class="align-center">
                                <th>Email</th>
                                <th>Student ID</th>
                            </tr>

                            <tr class="align-center">
                                <td>ksj214@uregina.ca</td>
                                <td>200433745</td>
                            </tr>

                        </table>

                        <h2 class="align-center">Course Info</h2>

                        <section>

                            <table>
                                <tr class="align-center">
                                    <th>Current Major</th>
                                    <th>Current Minor</th>
                                </tr>
                                <tr class="align-center">
                                    <td>Bachelors of Comp Sci</td>
                                    <td>NA</td>
                                </tr>
                            </table>
    
                        </section>

                        <div class="padTop">
                            <a class="float-right" href="profileCust1Edit.html">Edit Profile</a>
                        </div>
                    </section>

            </div>

        </div>

    </div>

</body>
</html>