
body{
    background-image: url(../library/media/IMG_8921443.jpg);
}




.loginForm{
    display: block;
    width: 500px;
}



.inputField{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}



.text-input{
    flex-grow: 1;
    border: 1px solid transparent;
    outline-width: 0px;
    font-size: 20px;
}

.input-textbox:hover{
    border: 2px solid black;
}

.text-input:focus {
    box-shadow: 0px 10px 13px -7px #000000, 1px 3px 16px 2px #000000;
}

.input-textbox:hover .text-input{
    background-color: rgb(238, 234, 234);
}

.loginButton{
    margin-top: 30px;
    width: 175px;
    height: 40px;
}

.space{
    margin-top: 50px;
}

@media (min-width:375px) and (max-width: 700px) {
   
    .login-box{
        width: 71%;
    }
    .loginForm{
        width: 100%;
    }
    .fitBox{
        width: 100%;
    }

}
