html, body{
    height: 100%;
}

body{
    margin: 0;
    background-size: cover;
    overflow-x: hidden;
}

nav {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
    background-color: #1c6928;
    border-bottom: #0c3f14 1px solid;
    align-items: stretch;
    height: 61px;
}

.page-wrap{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-wrapper{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.login-box{
    max-width: 600px;
    border-radius: 0.5rem;
    background-color: #fff;
    padding: 3rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    margin-bottom: 2rem;
}
