<!DOCTYPE html>
<html lang="en">
<!-- 
    Imported the account swapping JS to switch between the two account types
    Imported the create student JS to do form validation
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Creation | UR Connect</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/createAccount.css') }}">
    <script src="{{ url_for('static', filename='js/accountpageSwap.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/createStudent.js') }}" defer></script>
    <script src="https://kit.fontawesome.com/4058d35757.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- full page wrap for formatting -->
    <div class="page-wrap">
        <nav class="header">
            <!-- container for the header that includes logo (links to index) and ur connect icon (links to login) -->
            <div class="header-container">
                <div class="header-logo">
                    <a href="{{ url_for('index') }}">
                        <img src="{{ url_for('static', filename='library/media/UR_Logo_Primary_Full_Colour_RGB.png') }}" class="logo">
                    </a>
                </div>
                <a href="{{ url_for('login') }}">
                    <img src="{{ url_for('static', filename='library/media/URConnect.png') }}" class="logo">
                </a>
            </div>
        </nav>
        
        <!-- main wrapper for the account creation-->
        <div class="main-wrapper">
            <div class="creationWrapper">
                <div class="create-account">
                    <img src="{{ url_for('static', filename='library/media/URConnect.png') }}" height="125" width="200">
                    
                    <h1> STUDENT SIGN UP </h1>
                    <label for="account_Type" class="font20">Change account type:</label>
                    <button name="account_Type" id="account_Type" class="greenButton switchButton font20">
                        <a class="link" href="{{ url_for('gotoEmployer') }}">Switch to Employer</a>
                    </button>

                    <!-- form that handles the student account creation -->
                    <form class="inputForm" id="infoForm" action="/createStudent" method="POST">
                        <section class="space">
                            <label class="inputLabel float-left">First Name:</label>
                            <input id="firstnameEntry" name="first_name" class="inputBox" type="text" placeholder="First Name">
                        </section>
                        <section class="space">
                            <label class="inputLabel float-left">Last Name:</label>
                            <input id="lastnameEntry" name="last_name" class="inputBox" type="text" placeholder="Last Name">
                        </section>
                        <section class="space">
                            <label class="inputLabel float-left">Email:</label>
                            <input id="emailEntry" name="email" class="inputBox" type="email" placeholder="Enter Email">
                        </section>
                        <section class="space">
                            <label class="inputLabel float-left">Student ID:</label>
                            <input id="idEntry" name="student_id" class="inputBox" type="text" placeholder="Student ID">
                        </section>
                        <section class="space">
                            <label class="inputLabel float-left">Password:</label>
                            <input id="passwordEntry" name="password" class="inputBox" type="password" placeholder="Enter Password">
                        </section>
                        <section class="space">
                            <label class="inputLabel float-left">Confirm Password:</label>
                            <input id="confirmEntry" class="inputBox" type="password" placeholder="Re-enter Password">
                        </section>

                        <!-- button that submits the creation of the new student account -->
                        <section class="space buttonHolder">
                            <div id="error"></div>
                            <button type="submit" class="createButton greenButton" value="Create Account" id="createAccount">Create Account</button>
                        </sction>
                    </form>
                    <!-- links to the login page -->
                    <section>
                        <label class= "login-link">Already have an account? <br><a href="{{ url_for('login') }}">Log In Here!</a></label>
                    </section>

                </div>
            </div>
        </div>
    </div>
</body>
</html>