<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customize Employer Profile | UR Connect</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/editEmployer.css') }}">
    <script src="{{ url_for('static', filename='js/editEmployer.js') }}" defer></script>
    <script src="https://kit.fontawesome.com/4058d35757.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="page-wrap">

        <nav class="header">
            <div class="header-container">
                <div class="header-logo">
                    <a href="{{ url_for('jobListings') }}">
                        <div class="header-logo">
                            <img src="{{ url_for('static', filename='library/media/UR_Logo_Primary_Full_Colour_RGB.png') }}" class="logo">
                        </div>
                    </a>
                </div>
                <div class="header-profilenav">
                    
                    <div class="dropdown">
                        <button class="dropbtn"><img src="{{ url_for('static', filename='library/media/avatars/' ~ employer.avatar ) }}" width="30vw" ></button>
                        <div class="dropdown-content">
                            <div class="dropdown-content">
                                <a href="{{ url_for('profileEmployer') }}"><i class="fa-solid fa-user"></i> My Profile</a> 
                                <a href="{{ url_for('editEmployer') }}"><i class="fa-solid fa-user-pen"></i> Edit Profile</a> 
                                <a href="{{ url_for('jobListings') }}"><i class="fa-solid fa-list"></i> Job Listings</a> 
                                <a href="{{ url_for('postJob') }}"><i class="fa-solid fa-square-plus"></i> Post Job</a>
                                <a href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a> 
                            </div>
                        </div>
                    </div>
                    <div class="profile-name">{{ employer.first_name }} {{ employer.last_name }}</div>
                </div>
            </div>
        </nav>

      <!-- Action location for backend -->
        <form method="POST" action="" id="submitForm" class="cust-main-wrapper" enctype="multipart/form-data">
            <div class="info-box1">
                <div id="error"></div>
                <div class="align-center">
                    <img src="{{ url_for('static', filename='library/media/avatars/' ~ employer.avatar ) }}" class="jobImg">
                </div>
                <h1 class="align-center titleText">User Details</h1>          
            </div>
            <div class="info-box2">
                    <div class="userDetails">     
                            <label class="inputLabel float-left" >First Name:</label>
                            <input class="inputBox" type="text" name="employerfirstName" id="employerfirstName" placeholder="First Name" value="{{ employer.first_name }}">
                        
                            <label class="inputLabel float-left" >Last Name:</label>
                            <input class="inputBox" type="text" name="employerlastName" id="employerlastName" placeholder="Last Name" value="{{ employer.last_name }}">

                            <label class="inputLabel float-left" >Email:</label>
                            <input class="inputBox" type="email" name="employerEmail" id="employerEmail" placeholder="Enter Email" value="{{ employer.email }}">

                            <label class="inputLabel float-left" >Password:</label>
                            <input class="inputBox" type="password" id="employerPassword" name="newPassword" placeholder="Enter Password">

                            <label class="inputLabel float-left" >Confirm Password:</label>
                            <input class="inputBox" type="password" id="employerconfirmPassword" placeholder="Confirm Password">
                    </div>
            </div>
            <div class="info-box3">
                    <div class="userDetails">
                        <label class="inputLabel float-left" >Company Name:</label>
                        <input class="inputBox" type="text" name="employerCompany"  id="companyName" placeholder="Company Name" value="{{ employer.company_name }}">

                        <label class="inputLabel float-left" >Company Address:</label> 
                        <input class="inputBox" type="text" name="employerAddress" id="companyAddress" placeholder="Company Address" value="{{ employer.address }}">

                        <label class="inputLabel float-left" >Company Number:</label>
                        <input class="inputBox" type="text" name="employerPhone" id="companyNumber" placeholder="Company Number" value="{{ employer.phone }}">

                        <label class="inputLabel float-left" >Company Avatar:</label>
                        <input class="pictureInput" type="file" accept="image/*" name="newemployerAvatar" id="newemployerAvatar" placeholder="Company Number">
                        <button id="backButton" class="submitButton greenButton">
                            <a class="link" href="{{ url_for('profileEmployer') }}">Back</a>
                        </button>
                        <button class="submitButton greenButton" id="saveButton" type="submit">Save Changes</button>
                        <button class="submitButton greenButton" id="deleteButton" type="submit">Delete Account</button>

                    </div>   
            </div>
        </form> 
    </div>
</body>
</html>