<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customize Student Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/studentProfileEdit.css') }}">
    <script src="{{ url_for('static', filename='js/editStudent.js') }}" defer></script>
    <script src="https://kit.fontawesome.com/4058d35757.js" crossorigin="anonymous"></script>
</head>
<body>
    

    <!-- 
        ALL IDS
        studentAvatar
        studentfirstName
        studentlastName
        studentEmail
        studentPassword
        studentconfirmPassword
        studentMajor
        studentAvailability
        studentResume
        newstudentAvatar
        backButton
        saveButton
    -->

    <div class="page-wrap">

        <nav class="header">
            <div class="header-container">
                <div class="header-logo">
                    <img src="{{ url_for('static', filename='library/media/UR_Logo_Primary_Full_Colour_RGB.png') }}" class="logo">
                </div>
                <div class="header-profilenav">
                    <div class="profile-name">{{ student.first_name }} {{ student.last_name }} <img src="{{ url_for('static', filename='library/media/avatars/' ~ student.avatar ) }}" width="50px"></div>
                    <div class="dropdown">
                        <button class="dropbtn"><i class="fa-solid fa-square-caret-down"></i></button>
                        <div class="dropdown-content">
                            <div class="dropdown-content">
                                <a href="{{ url_for('profileStudent') }}">My Profile</a> 
                                <!--
                                    <a href="{{ url_for('editStudent') }}">Edit Profile</a> 
                                    <a href="{{ url_for('jobListings') }}">Job Listings</a> 
                                    Will need another one for logout but when I tried adding one, even in the comments, it crashes the site
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
         <!-- Action location for backend -->
         <form method="POST" action="/editStudent" id="submitForm" class="cust-main-wrapper">
            <div class="info-box1">
                <div id="error"></div>
                <div class="align-center">
                    <img src="{{ url_for('static', filename='library/media/avatars/' ~ student.avatar ) }}" class="jobImg">
                </div>
                <h1 class="align-center titleText">User Details</h1>
            </div>
            <div class="info-box2">
                <div class="userDetails">
                    <label class="inputLabel float-left" >First Name:</label>
                    <input class="inputBox" type="text" id="studentfirstName" name="studentfirstName" placeholder="first name" value="{{ student.first_name }}">
                
                    <label class="inputLabel float-left" >Last Name:</label>
                    <input class="inputBox" type="text" id="studentlastName" name="studentlastName" placeholder="Last Name" value="{{ student.last_name }}">

                    <label class="inputLabel float-left" >Email:</label>
                    <input class="inputBox" type="email" id="studentEmail" name="studentEmail" placeholder="Enter Email" value="{{ student.email }}">

                    <label class="inputLabel float-left" >Password:</label>
                    <input class="inputBox" type="text" id="studentPassword" name="newPassword" placeholder="Enter Password">

                    <label class="inputLabel float-left" >Confirm Password:</label>
                    <input class="inputBox" type="text"  id="studentconfirmPassword" name="confirmPassword" placeholder="Confirm Password">
                </div>
            </div>
            <div class="info-box3">
                <div class="userDetails">
                        
                    <label class="inputLabel float-left" >Current Major:</label>
                    <input class="inputBox" type="text" id="studentMajor" name="studentMajor" placeholder="Current Major">

                    <label class="detailText"> Are you currently for hire?</label>
                    <input class="checkSize" type="checkbox" id="studentAvailability" name="studentAvailability" value="lfj">
                  
                    <label class="detailText">Resume: </label>
                    <input type="file" id="studentResume" name="filename">

                    <label class="detailText">Avatar: </label>
                    <input type="file" id="newstudentAvatar" name="filename">

                    <button class="submitButton greenButton" id="backButton" type="submit">Back</button>
                    <button class="submitButton greenButton" id="saveButton" type="submit">Save Changes</button>
                </div>     
            </div>
        </form>
    </div>
</body>
</html>