<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customize Student Profile | UR Connect</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/studentProfileEdit.css') }}">
    <script src="{{ url_for('static', filename='js/editStudent.js') }}" defer></script>
    <script src="https://kit.fontawesome.com/4058d35757.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="page-wrap">

        <nav class="header">
            <div class="header-container">
                <div class="header-logo">
                    <a href="{{ url_for('jobListings') }}">
                        <div class="header-logo">
                            <img src="{{ url_for('static', filename='library/media/UR_Logo_Primary_Full_Colour_RGB.png') }}" class="logo">
                        </div>
                    </a>
                </div>
                <div class="header-profilenav">
                    
                    <div class="dropdown">
                        <button class="dropbtn"><img src="{{ url_for('static', filename='library/media/avatars/' ~ student.avatar ) }}" width="30vw" ></button>
                        <div class="dropdown-content">
                            <div class="dropdown-content">
                                <a href="{{ url_for('profileStudent') }}"><i class="fa-solid fa-user"></i> My Profile</a> 
                                <a href="{{ url_for('editStudent') }}"><i class="fa-solid fa-user"></i> Edit Profile</a> 
                                <a href="{{ url_for('jobListings') }}"><i class="fa-solid fa-list"></i> Job Listings</a> 
                                <a href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a> 
                            </div>
                        </div>
                    </div>
                    <div class="profile-name">{{ student.first_name }} {{ student.last_name }}</div>
                </div>
            </div>
        </nav>
        
         <!-- Action location for backend -->
         <form method="POST" action="/editStudent" id="submitForm" class="cust-main-wrapper" enctype="multipart/form-data">
            <div class="info-box1">
                <div id="error"></div><br>
                <div class="align-center">
                    <img src="{{ url_for('static', filename='library/media/avatars/' ~ student.avatar ) }}" class="jobImg">
                </div>
                <h1 class="align-center titleText">User Details</h1>
            </div>
            <div class="info-box2">
                <div class="userDetails">
                    <label class="inputLabel float-left" >First Name:</label>
                    <input class="inputBox" type="text" id="studentfirstName" name="studentfirstName" placeholder="first name" value="{{ student.first_name }}">
                
                    <label class="inputLabel float-left" >Last Name:</label>
                    <input class="inputBox" type="text" id="studentlastName" name="studentlastName" placeholder="Last Name" value="{{ student.last_name }}">

                    <label class="inputLabel float-left" >Email:</label>
                    <input class="inputBox" type="email" id="studentEmail" name="studentEmail" placeholder="Enter Email" value="{{ student.email }}">

                    <label class="inputLabel float-left" >Password:</label>
                    <input class="inputBox" type="text" id="studentPassword" name="newPassword" placeholder="Enter Password">

                    <label class="inputLabel float-left" >Confirm Password:</label>
                    <input class="inputBox" type="text"  id="studentconfirmPassword" name="confirmPassword" placeholder="Confirm Password">
                </div>
            </div>
            <div class="info-box3">
                <div class="userDetails">
                        
                    <label class="inputLabel float-left" >Current Major:</label>
                    <input class="inputBox" type="text" id="studentMajor" name="studentMajor" placeholder="Current Major" value="{{ student.major }}">

                    <label class="detailText"> Are you currently for hire?</label>
                    <input class="checkSize" type="checkbox" id="studentAvailability" name="studentAvailability" value="lfj">
                  
                    <label class="detailText">Resume: </label>
                    <input type="file" id="newResume" name="newResume" class="newResume">

                    <label class="detailText">Avatar: </label>
                    <input type="file" id="newstudentAvatar" name="newstudentAvatar" class="newStudentAvatar">

                    <button id="backButton" class="submitButton greenButton">
                        <a class="link" href="{{ url_for('profileStudent') }}">Back</a>
                    </button>

                    <button class="submitButton greenButton" id="saveButton" type="submit">Save Changes</button>
                </div>     
            </div>
        </form>
    </div>
</body>
</html>