<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customize Student Profile | UR Connect</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/editStudent.css') }}">
    <script src="{{ url_for('static', filename='js/editStudent.js') }}" defer></script>
    <script src="https://kit.fontawesome.com/4058d35757.js" crossorigin="anonymous"></script>

    <script>
        function checkResume(resumeStatus) {
            if (resumeStatus === 'exists') {
                // Resume exists, submit the form
                document.getElementById("resumeButton").closest("form").submit();
            } else {
                // Resume doesn't exist, display a popup
                alert("Please provide a resume to access this page!");
                event.preventDefault();
            }
        }
        function checkJoblistings(resumeStatus) {
            if (resumeStatus === 'exists') {
                // Resume exists, submit the form
            } else {
                // Resume doesn't exist, display a popup
                alert("Please provide a resume to access this page!");
                event.preventDefault();
            }
        }
    </script>

</head>
<body>
    
    <div class="page-wrap">

        <nav class="header">
            <div class="header-container">
                <div class="header-logo">
                    <a href="{{ url_for('jobListings') }}">
                        <div class="header-logo">
                            <img src="{{ url_for('static', filename='library/media/UR_Logo_Primary_Full_Colour_RGB.png') }}" class="logo">
                        </div>
                    </a>
                </div>
                <div class="header-profilenav">
                    <form method="POST" action="/delete_account" id="deleteForm">
                        <button class=" greenButton" id="deleteButton" type="submit">Delete Account</button>
                    </form>
                    <div class="dropdown">
                        <button class="dropbtn"><img class="header-profile-icon" src="{{ url_for('static', filename='library/media/avatars/' ~ student.avatar ) }}" width="30vw" ></button>
                        <div class="dropdown-content">
                            <div class="dropdown-content">
                                <a href="{{ url_for('profileStudent') }}"><i class="fa-solid fa-user"></i> My Profile</a> 
                                <a href="{{ url_for('editStudent') }}"><i class="fa-solid fa-user"></i> Edit Profile</a> 
                                <a href="{{ url_for('jobListings') }}" onclick="checkJoblistings('{% if student.resume %}exists{% else %}not_exists{% endif %}', event)"><i class="fa-solid fa-list"></i> Job Listings</a> 
                                <a href="{{ url_for('resources') }}"><i class="fa-solid fa-book"></i> Resources</a>
                                <a href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a> 
                            </div>
                        </div>
                    </div>
                    <div class="header-profile-name">{{ student.first_name }} {{ student.last_name }}</div>
                </div>
            </div>
        </nav>
        
         <!-- Action location for backend -->
         <form method="POST" action="" id="submitForm" class="cust-main-wrapper" enctype="multipart/form-data">
            <div class="info-box1">
                <div id="error"></div><br>
                <div class="align-center">
                    <img src="{{ url_for('static', filename='library/media/avatars/' ~ student.avatar ) }}" class="jobImg">
                </div>
                <h1 class="align-center titleText">User Details</h1>
            </div><br>
            <div class="info-section">
                <div class="info-box2">
                    <div class="userDetails">
                        <label class="inputLabel float-left" >First Name:</label>
                        <input class="inputBox" type="text" id="studentfirstName" name="studentfirstName" placeholder="first name" value="{{ student.first_name }}">
                    
                        <label class="inputLabel float-left" >Last Name:</label>
                        <input class="inputBox" type="text" id="studentlastName" name="studentlastName" placeholder="Last Name" value="{{ student.last_name }}">
    
                        <label class="inputLabel float-left" >Email:</label>
                        <input class="inputBox" type="email" id="studentEmail" name="studentEmail" placeholder="Enter Email" value="{{ student.email }}">
    
                        <label class="inputLabel float-left" >Password:</label>
                        <input class="inputBox" type="text" id="newPassword" name="newPassword" placeholder="Enter Password">
    
                        <label class="inputLabel float-left" >Confirm Password:</label>
                        <input class="inputBox" type="text"  id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
                    </div>
                </div>
                <div class="info-box3">
                    <div class="userDetails">
                        <label class="inputLabel float-left">Major:</label>
                            <select class="postingBox" name="studentMajor" id="studentMajor">
                                <option {% if ' ' in student.major %} selected {% endif %} value="">Select an option</option>
                                <option class="form-item" value="Computer Science" {% if 'Computer_Science' in student.major %} selected {% endif %}>Computer Science</option>
                                <option class="form-item" value="Engineering" {% if 'Engineering' in student.major %} selected {% endif %}>Engineering</option>
                                <option class="form-item" value="Biology" {% if 'Biology' in student.major %} selected {% endif %}>Biology</option>
                                <option class="form-item" value="Economics" {% if 'Economics' in student.major %} selected {% endif %}>Economics</option>
                                <option class="form-item" value="Physics" {% if 'Physics' in student.major %} selected {% endif %}>Physics</option>
                                <option class="form-item" value="Psychology" {% if 'Psychology' in student.major %} selected {% endif %}>Psychology</option>
                                <option class="form-item" value="Mathematics" {% if 'Mathematics' in student.major %} selected {% endif %}>Mathematics</option>
                                <option class="form-item" value="Geology" {% if 'Geology' in student.major %} selected {% endif %}>Geology</option>
                                <option class="form-item" value="Social Work" {% if 'Social Work' in student.major %} selected {% endif %}>Social Work</option>
                                <option class="form-item" value="Nursing" {% if 'Nursing' in student.major %} selected {% endif %}>Nursing</option>
                                <option class="form-item" value="Education" {% if 'Education' in student.major %} selected {% endif %}>Education</option>
                                <option class="form-item" value="Anthropology" {% if 'Anthropology' in student.major %} selected {% endif %}>Anthropology</option>
                            </select>
    
                        <label class="detailText">Availability: </label>
                        <input class="checkSize" type="checkbox" id="studentAvailability" name="studentAvailability" {% if student.looking_for_job %} checked {% endif %}>
                      
                        <label class="detailText">Resume: </label>
                        <input type="file" accept="application/pdf" id="newResume" name="newResume" class="newResume">
    
                        <label class="detailText">Avatar: </label>
                        <input type="file" accept="image/png, image/jpeg, image/jpg, image/gif" id="newstudentAvatar" name="newstudentAvatar" class="newStudentAvatar">
    
                        <button id="backButton" class="submitButton greenButton">
                            <a class="link" href="{{ url_for('profileStudent') }}">Back</a>
                        </button>
                        <button class="submitButton greenButton" id="saveButton" type="submit">Save Changes</button>
    
                    </div>     
                </div>
            </div>

        </form>
    </div>
</body>
</html>