<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | UR Connect</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="https://kit.fontawesome.com/4058d35757.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="page-wrap">
        <nav class="header">
            <div class="header-container">
                <div class="header-logo">
                    <a href="{{ url_for('index') }}">
                        <img src="{{ url_for('static', filename='library/media/UR_Logo_Primary_Full_Colour_RGB.png') }}" class="logo">
                    </a>
                </div>
                <a href="{{ url_for('login') }}">
                    <img src="{{ url_for('static', filename='library/media/URConnect.png') }}" class="logo">
                </a>
            </div>
        </nav>

        <main>
            <div class="home-hero">
                <video autoplay muted loop id="myVideo">
                    <source src="{{ url_for('static', filename='library/media/HomeHeroVideo.mp4') }}" type="video/mp4">
                </video>
                
                  <div class="home-hero-overlay">
                    <div class="overlay-container">
                        <div class="overlay-text">
                            Connect to Opportunity
                        </div>
                        <div class="overlay-signup">
                            <button class="overlay-button">
                                <a href="{{ url_for('login') }}">Get Started</a>
                            </button>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="aboutus">
                <div class="section-darken">
                    <div class="section-container">
                        <div class="section-title">
                            Our Mission
                        </div>
                        <div class="section-desc">
                            <p>The University of Regina faces a challenge where students struggle to showcase their skills and 
                                secure fitting opportunities, while local employers find it hard to identify and connect with 
                                talented individuals. UR Connect is introduced as a solution to streamline and personalize interactions 
                                between students and employers within the University. This user-friendly platform aims to provide 
                                opportunities to UofR students by allowing them to present their achievements beyond traditional resumes. 
                                UR Connect will support both students actively pursuing opportunities while studying and those on the 
                                verge of graduation. 
                                <br><br>
                                
                                For students still studying, the platform provides a space to discover internship 
                                opportunities and professional growth. Simultaneously, for graduating students preparing to step into 
                                the professional world, UR Connect becomes a resource that will provide a comprehensive job board, personalized 
                                connections, and a secure messaging system, becoming a pivotal tool in the job searching process. 
                                <br><br>
                                
                                UR Connect, in essence, addresses the needs of students at various stages of their academic and professional journey. 
                                By providing tailored support for those currently studying and those about to graduate, the platform ensures 
                                that every student, regardless of their academic timeline, can find meaningful and fitting opportunities 
                                within the University of Regina community.</p>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="services">
                <div class="section-darken">
                    <div class="section-container">
                        <div class="section-title">
                            Our Services
                        </div>
                        <div class="section-desc">
                            <ul class="section-desc-feat">
                                <li class="feat">Comphrehensive Profile Creation</li>
                                <li class="feat">Networking and Connections</li>
                                <li class="feat">Customizable Job Board</li>
                                <li class="feat">Career Counseling Resources</li>
                                <li class="feat">Application Tracking System (ATS)</li>
                                <li class="feat">Advanced Search</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>