<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../../Root/css/shared.css">
    <link rel="stylesheet" type="text/css" href="../../Root/css/home.css">


</head>
<body>
    <div class="page-wrap">

        <nav>
            <img src="../../Root/library/media/UR_Logo_Primary_Full_COlour_RGB.png" class="logo">
        </nav>

        <main>
            <div class="home-hero">
                <video autoplay muted loop id="myVideo">
                    <source src="/Root/library/media/HomeHeroVideo.mp4" type="video/mp4">
                  </video>
                  <div class="home-hero-overlay">
                    <div class="overlay-container">
                        <div class="overlay-text">
                            Connect to Opportunity
                        </div>
                        <div class="overlay-signup">
                            <button class="overlay-button">
                                <a href="{{ url_for('createStudent') }}">Let's Go</a>
                            </button>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="aboutus">
                About Us
            </div>
            <div class="services">
                Services
            </div>
        </main>

    </div>
</body>
</html>