<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Listings | UR Connect</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jobListings.css') }}">
    <script src="https://kit.fontawesome.com/4058d35757.js" crossorigin="anonymous"></script>
    

    {% if 'student' in session %}
    <script src="{{ url_for('static', filename='js/joblistingsStudent.js') }}" defer></script>
    {% endif %}

    {% if 'employer' in session %}
    <script src="{{ url_for('static', filename='js/joblistingsEmployer.js') }}" defer></script>
    {% endif %}

</head>
<body>

    <!--Dynamically show page based on the user's session type-->
    <!--Student Job Listings Page-->
    {% if 'student' in session %}
    <!-- STUDENT HEADER -->
    <nav class="header">
        <div class="header-container">
            <div class="header-logo">
                <a href="{{ url_for('jobListings') }}">
                    <div class="header-logo">
                        <img src="{{ url_for('static', filename='library/media/UR_Logo_Primary_Full_Colour_RGB.png') }}" class="logo">
                    </div>
                </a>
            </div>

            <div class="header-filters">
                <form id="filterForm" method="POST" action="/filterJobs" class="filterForm">
                    <section class="space lineUp">
                        <label class="postingLabel float-left">Major Requirement:</label>
                        <select class="postingBox" name="Major" id="major">
                            <option value="" selected>Select an option</option>
                            <option class="form-item" value="Computer Science">Computer Science</option>
                            <option class="form-item" value="Engineering">Engineering</option>
                            <option class="form-item" value="Biology">Biology</option>
                            <option class="form-item" value="Economics">Economics</option>
                            <option class="form-item" value="Physics">Physics</option>
                            <option class="form-item" value="Psychology">Psychology</option>
                            <option class="form-item" value="Mathematics">Mathematics</option>
                            <option class="form-item" value="Geology">Geology</option>
                            <option class="form-item" value="Social Work">Social Work</option>
                            <option class="form-item" value="Nursing">Nursing</option>
                            <option class="form-item" value="Education">Education</option>
                            <option class="form-item" value="Anthropology">Anthropology</option>
                        </select>
                    </section>
                    <section class="space lineUp">
                        <label class="postingLabel float-left">Job Type:</label>
                        <select class="postingBox" name="Hours" id="jobType">
                            <option value="" selected>Select an option</option>
                            <option class="form-item" value="Full-Time">Full-Time</option>
                            <option class="form-item" value="Part-Time">Part-Time</option>
                        </select>
                    </section>

                    <div id="error"></div>
                    <button class="filterButton" type="submit" id="filterJobs">Filter Jobs</button>
                </form>
            </div>

            <div class="header-profilenav">

                <div class="dropdown">
                    <button class="dropbtn"><img class="header-profile-icon" src="{{ url_for('static', filename='library/media/avatars/' ~ student.avatar ) }}" width="30vw" ></button>
                    <div class="dropdown-content">
                        <div class="dropdown-content">
                            <a href="{{ url_for('profileStudent') }}"><i class="fa-solid fa-user"></i> My Profile</a>
                            <a href="{{ url_for('editStudent') }}"><i class="fa-solid fa-user"></i> Edit Profile</a>
                            <a href="{{ url_for('jobListings') }}"><i class="fa-solid fa-list"></i> Job Listings</a>
                            <a href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
                        </div>
                    </div>
                </div>
                <div class="header-profile-name">{{ student.first_name }} {{ student.last_name }}</div>
            </div>
        </div>
    </nav>

    <!-- STUDENT PAGE -->
    <div class="listing main-wrapper">
        <div class="jobList roundForm">
            {% for job in jobs %}
            <div class="jobPosting" id="testJob{{ job.id }}" data-job-id="{{ job.id }}">
                <img class="mainimgSmall" src="{{ url_for('static', filename='library/media/avatars/' ~ job.avatar) }}" alt="Employer Avatar">
                    <div class="jobDetails">
                        <label class="jobName bold">{{ job.job_title }}</label>
                        <label class="jobCompany">{{ job.company_name }}</label>
                        <label class="datePosted">{{ job.date_created }}</label>
                    </div>
            </div>
            {% endfor %}
        </div>
        <div class="jobInfo roundForm">

            <div class="titleCard">
                <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="mainImg">
                <div class="jobDetails">
                    <label class="mainName bold" id="jobTitle"></label>
                    <label class="mainCompany titlecardFont" id="jobCompany"></label>
                    <label class="jobLocation titlecardFont" id="jobLocation"></label>
                    <label class="datePosted titlecardFont" id="datePosted"></label>
                </div>
            </div>

            <div class="jobDescription">
                <label class="jobDesc"></label><br><br>
                <label class="jobMajor"></label><br><br>
                <label class="jobHours"></label><br><br>
                <label class="jobPay"></label><br><br>
            </div>

            <!-- action location for backend -->
            <form class="applyForm" method="GET" action="">
                <button class="greenButton applyButton" type="submit">Apply</button>
            </form>
        </div>
    </div>


    <!--Employer Job Listings Page-->
    {% elif 'employer' in session %}
    <!-- EMPLOYER HEADER -->
    <nav class="header">
        <div class="header-container">
            <div class="header-logo">
                <a href="{{ url_for('jobListings') }}">
                    <div class="header-logo">
                        <img src="{{ url_for('static', filename='library/media/UR_Logo_Primary_Full_Colour_RGB.png') }}" class="logo">
                    </div>
                </a>
            </div>
            <div class="header-profilenav">

                <div class="dropdown">
                    <button class="dropbtn"><img class="header-profile-icon" src="{{ url_for('static', filename='library/media/avatars/' ~ employer.avatar ) }}" ></button>
                    <div class="dropdown-content">
                        <div class="dropdown-content">
                            <a href="{{ url_for('profileEmployer') }}"><i class="fa-solid fa-user"></i> My Profile</a>
                            <a href="{{ url_for('editEmployer') }}"><i class="fa-solid fa-user"></i> Edit Profile</a>
                            <a href="{{ url_for('jobListings') }}"><i class="fa-solid fa-list"></i> Job Listings</a>
                            <a href="{{ url_for('postJob') }}"><i class="fa-solid fa-square-plus"></i> Post Job</a>
                            <a href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
                        </div>
                    </div>
                </div>
                <div class="header-profile-name">{{ employer.first_name }} {{ employer.last_name }}</div>
            </div>
        </div>
    </nav>

    <!-- EMPLOYER PAGE -->
    <div class="listing main-wrapper">
        <div class="jobList roundForm">
            {% for job in jobs %}
            <div class="jobPosting" id="testJob{{ job.id }}" data-job-id="{{ job.id }}">
                <img class="mainimgSmall" src="{{ url_for('static', filename='library/media/avatars/' ~ job.avatar) }}" alt="Employer Avatar">

                    <div class="jobDetails">
                        <label class="jobName bold">{{ job.job_title }}</label>
                        <label class="jobCompany">{{ job.company_name }}</label>
                        <label class="datePosted">{{ job.date_created }}</label>
                    </div>
            </div>
        
            {% endfor %}
        </div>
        <div class="jobInfo roundForm">

            <div class="titleCard">
                <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="mainImg">
                <div class="jobDetails">
                    <label class="mainName bold" id="jobTitle"></label>
                    <label class="mainCompany titlecardFont" id="jobCompany"></label>
                    <label class="jobLocation titlecardFont" id="jobLocation"></label>
                    <label class="datePosted titlecardFont" id="datePosted"></label>
                </div>
            </div>

            <div class="jobDescription">
                <label class="jobDesc"></label><br><br>
                <label class="jobMajor"></label><br><br>
                <label class="jobHours"></label><br><br>
                <label class="jobPay"></label><br><br>
            </div>
            <form class="removepostForm" method="GET" action="">
                <button class="greenButton applyButton" type="submit">Remove Posting</button>
            </form>
        </div>
       
        <div class="jobList jobApplicants roundForm">
            
        </div>
    </div>
    {% endif %}
</body>
</html>