<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Listings | UR Connect</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jobListings.css') }}">
    <script src="https://kit.fontawesome.com/4058d35757.js" crossorigin="anonymous"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const jobPostings = document.querySelectorAll('.jobPosting');
    
            jobPostings.forEach(function (jobPosting) {
                jobPosting.addEventListener('click', function () {
                    const jobId = jobPosting.dataset.jobId;
                    fetch(`/job/${jobId}`)
                        .then(response => response.json())
                        .then(data => {
                            // Update jobInfo section with fetched job details
                            const jobInfo = document.querySelector('.jobInfo');
                            jobInfo.querySelector('.mainImg').src = "static/library/media/avatars/" + data.avatar;
                            jobInfo.querySelector('.mainName').textContent = data.job_title;
                            jobInfo.querySelector('.mainCompany').textContent = data.company_name;
                            jobInfo.querySelector('.jobLocation').textContent = data.job_location;
                            jobInfo.querySelector('.datePosted').textContent = data.date_created;
                            jobInfo.querySelector('.jobDesc').textContent = data.job_description;
                            jobInfo.querySelector('.jobMajor').textContent = data.major_required;
                            jobInfo.querySelector('.jobHours').textContent = data.hours;
                            jobInfo.querySelector('.jobPay').textContent = data.pay;
                            // Update other job details as needed
                        })
                        .catch(error => console.error('Error fetching job details:', error));
                });
            });
        });
    </script>
</head>
<body>
    
    <!--Dynamically show header based on session type-->
    <!--Student Header-->
    {% if 'student' in session %}
    <nav class="header">
        <div class="header-container">
            <div class="header-logo">
                <a href="{{ url_for('jobListings') }}">
                    <div class="header-logo">
                        <img src="{{ url_for('static', filename='library/media/UR_Logo_Primary_Full_Colour_RGB.png') }}" class="logo">
                    </div>
                </a>
            </div>
            <div class="header-profilenav">
                
                <div class="dropdown">
                    <button class="dropbtn"><img src="{{ url_for('static', filename='library/media/avatars/' ~ student.avatar ) }}" width="30vw" ></button>
                    <div class="dropdown-content">
                        <div class="dropdown-content">
                            <a href="{{ url_for('profileStudent') }}"><i class="fa-solid fa-user"></i> My Profile</a> 
                            <a href="{{ url_for('editStudent') }}"><i class="fa-solid fa-user"></i> Edit Profile</a> 
                            <a href="{{ url_for('jobListings') }}"><i class="fa-solid fa-list"></i> Job Listings</a> 
                            <a href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a> 
                        </div>
                    </div>
                </div>
                <div class="profile-name">{{ student.first_name }} {{ student.last_name }}</div>
            </div>
        </div>
    </nav>
    <!--Employer Header-->
    {% elif 'employer' in session %}
    <nav class="header">
        <div class="header-container">
            <div class="header-logo">
                <a href="{{ url_for('jobListings') }}">
                    <div class="header-logo">
                        <img src="{{ url_for('static', filename='library/media/UR_Logo_Primary_Full_Colour_RGB.png') }}" class="logo">
                    </div>
                </a>
            </div>
            <div class="header-profilenav">
                
                <div class="dropdown">
                    <button class="dropbtn"><img src="{{ url_for('static', filename='library/media/avatars/' ~ employer.avatar ) }}" width="30vw" ></button>
                    <div class="dropdown-content">
                        <div class="dropdown-content">
                            <a href="{{ url_for('profileEmployer') }}"><i class="fa-solid fa-user"></i> My Profile</a> 
                            <a href="{{ url_for('editEmployer') }}"><i class="fa-solid fa-user"></i> Edit Profile</a> 
                            <a href="{{ url_for('jobListings') }}"><i class="fa-solid fa-list"></i> Job Listings</a> 
                            <a href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a> 
                        </div>
                    </div>
                </div>
                <div class="profile-name">{{ employer.first_name }} {{ employer.last_name }}</div>
            </div>
        </div>
    </nav>
    {% endif %}

    <div class="listing main-wrapper">

        <div class="jobList roundForm">

            {% for job in jobs %}
            <div class="jobPosting" id="testJob{{ job.id }}" data-job-id="{{ job.id }}">
                <img src="{{ url_for('static', filename='library/media/avatars/' ~ job.avatar) }}" width="50px" alt="Employer Avatar">

                    <div class="jobDetails">
                        <label class="jobName bold">{{ job.job_title }}</label>
                        <label class="jobCompany">{{ job.company_name }}</label>
                        <label class="datePosted">{{ job.date_created }}</label>
                    </div>
            </div>
            {% endfor %}



        </div>

        <div class="jobInfo roundForm">
            
            <div class="titleCard">
                <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="mainImg">
                <div class="jobDetails">
                    <label class="mainName bold" id="jobTitle"></label>
                    <label class="mainCompany titlecardFont" id="jobCompany"></label>
                    <label class="jobLocation titlecardFont" id="jobLocation"></label>
                    <label class="datePosted titlecardFont" id="datePosted"></label>
                </div>
            </div>

            <div class="jobDescription">
                
                <label class="jobDesc"></label>
                <br>
                <label class="jobMajor"></label>
                <br>
                <label class="jobHours"></label>
                <br>
                <label class="jobPay"></label>
                

            </div>

     <!--        action location for backend -->
            <form class="applyForm" method="GET" action="">
                <button class="greenButton applyButton" type="submit">Apply</button>
            </form>


        </div>
       

    </div>


</body>
</html>