<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | UR Connect</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="{{ url_for('static', filename='js/login.js') }}" defer></script>
    <script src="https://kit.fontawesome.com/4058d35757.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="page-wrap">
        <nav class="header">
            <div class="header-container">
                <div class="header-logo">
                    <a href="{{ url_for('index') }}">
                        <img src="{{ url_for('static', filename='library/media/UR_Logo_Primary_Full_Colour_RGB.png') }}" class="logo">
                    </a>
                </div>
                <a href="{{ url_for('login') }}">
                    <img src="{{ url_for('static', filename='library/media/URConnect.png') }}" class="logo">
                </a>
            </div>
        </nav>

        <div class="main-wrapper">
            <div class="login-box">      
                <img class="login-icon" src="{{ url_for('static', filename='library/media/URConnect.png') }}">
                <form class="login-form" action="/std_profile_login" method="POST" id="login-form">
                    <div class="input-field">
                        <label class="input-label">Email</label>
                        <div class="input-textbox">
                            <input class="text-input" name = "email" id="emailKey">
                        </div>
                    </div>
                    <div class="input-field">
                        <label class="input-label">Password</label>
                        <div class="input-textbox">
                            <input class="text-input" type="password" name="password" id="passwordKey">
                        </div>
                    </div>
                    <br>
                    <div id="error"></div>
                    <button class="login-button greenButton" id="loginButton" type="submit"> Login</button>
                    <br>
                    <section>
                        <label class="space">Don't have an account?<br><a class="link" href="{{ url_for('createStudent') }}">Create new account</a></label>
                    </section>
                    
                </form>
            </div>
        </div>
    </div>
</body>
</html>