<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post a Job | UR Connect</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/postJob.css') }}">
    <script src="{{ url_for('static', filename='js/postJob.js') }}" defer></script>
    <script src="https://kit.fontawesome.com/4058d35757.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="page-wrap">

        <nav class="header">
            <div class="header-container">
                <div class="header-logo">
                    <a href="{{ url_for('jobListings') }}">
                        <div class="header-logo">
                            <img src="{{ url_for('static', filename='library/media/UR_Logo_Primary_Full_Colour_RGB.png') }}" class="logo">
                        </div>
                    </a>
                </div>
                <div class="header-profilenav">
                    
                    <div class="dropdown">
                        <button class="dropbtn"><img src="{{ url_for('static', filename='library/media/avatars/' ~ employer.avatar ) }}" width="30vw" ></button>
                        <div class="dropdown-content">
                            <div class="dropdown-content">
                                <a href="{{ url_for('profileEmployer') }}"><i class="fa-solid fa-user"></i> My Profile</a> 
                                <a href="{{ url_for('editEmployer') }}"><i class="fa-solid fa-user-pen"></i> Edit Profile</a> 
                                <a href="{{ url_for('jobListings') }}"><i class="fa-solid fa-list"></i> Job Listings</a> 
                                <a href="{{ url_for('postJob') }}"><i class="fa-solid fa-square-plus"></i> Post Job</a>
                                <a href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a> 
                            </div>
                        </div>
                    </div>
                    <div class="profile-name">{{ employer.first_name }} {{ employer.last_name }}</div>
                </div>
            </div>
        </nav>

        <div class="main-wrapper">
            <div class="jobBackground">
                <div class="postTitle">Job Posting</div>
                <form id="jobForm" method="POST" action="postJob" class="job-wrapper">
                    <section class="space lineUp">
                        <label class="postingLabel float-left">Job Title:</label>
                        <input class="postingBox" name="Title" placeholder="Job Title" id="jobtitleEntry">
                    </section>
                    <section class="space textBox lineUp">
                        <label class="postingLabel float-left">Job Description:</label>
                        <textarea class="postingBox disc" name="Description"  id="jobdescEntry"></textarea>
                    </section>
                    <section class="space lineUp">
                        <label class="postingLabel float-left">Job Address:</label>
                        <input class="postingBox" name="Address"  placeholder="Job Address" id="jobaddressEntry">
                    </section>
                    <section class="space lineUp">
                        <label class="postingLabel float-left">Job Deadline:</label>
                        <input class="postingBox" name="Deadline" type="date" id="jobdeadlineEntry">
                    </section>
                    <div id="error"></div>
                    <button class="postButton greenButton" type="submit" id="postButton">Post Job</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>