<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employer Profile</title>
    <link rel="stylesheet" type="text/css" href="../../Root/css/shared.css">
    <link rel="stylesheet" type="text/css" href="../../Root/css/profileEmployer.css">
</head>
<body>

    <!-- 
        ALL IDS
        employerAvatar
        employerName
        employerEmail
        employerName
        employerEmail   
        employerNumber
    -->

    <div class="page-wrap">

        <nav>
            <img src="../../Root/library/media/UR_Logo_Primary_Full_COlour_RGB.png" height="62">
        </nav>

        <div class="cust-main-wrapper">

            <div class="info-box1">

                <div class="align-center">
                    <img src="../../Root/library/media/avatar1.jpg" id="employerAvatar" class="avatar">
                </div>

                <h1 class="align-center" id="employerName">Employer Name</h1>

                <h2 class="align-center">Employer details</h2>
        
                <div class="userDetails">
                    <label class="detailText bold">Email:</label>
                    <label class="detailText" id="employerEmail">Employer@email.com</label>
                    <label class="detailText bold">Company Name:</label>
                    <label class="detailText" id="employerName">Company Name</label>
                    <label class="detailText bold">Company Address:</label>
                    <label class="detailText" id="employerEmail">123 Address</label>
                    <label class="detailText bold">Company Phone Number:</label>
                    <label class="detailText" id="employerNumber">(123)456-7890</label>

                </div>
                <div class="padTop">
                    <a class="float-right" href="employerprofileEdit.html">Edit Profile</a>
                </div>

            </div>

            <div class="info-box2">
                <h2 class="align-center">Posted Jobs</h2>

              <div class="jobList roundForm">
                    <div class="jobPosting" id="testJob1">
                        <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="jobImg">
        
                        <div class="jobDetails">
                            <label class="jobName bold">Administrative Assistant</label>
                            <label class="jobCompany">University of Regina</label>
                            <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                            <label class="datePosted">2 months ago</label>
                        </div>
        
                    </div>
                
                    <div class="jobPosting" id="testJob2">
                        <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="jobImg">
        
                        <div class="jobDetails">
                            <label class="jobName bold">Administrative Assistant</label>
                            <label class="jobCompany">University of Regina</label>
                            <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                            <label class="datePosted">2 months ago</label>
                        </div>
        
                    </div>
                    <div class="jobPosting" id="testJob3">
                        <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="jobImg">
        
                        <div class="jobDetails">
                            <label class="jobName bold">Administrative Assistant</label>
                            <label class="jobCompany">University of Regina</label>
                            <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                            <label class="datePosted">2 months ago</label>
                        </div>
        
                    </div>
                </div>
            </div>
            <div class="info-box3">
                <h2 class="align-center">Applicants</h2>

                <div class="jobList roundForm">
                    <div class="jobPosting" id="testJob1">
                        <img src="../../Root/library/media/avatar.jpg" class="jobImg">
        
                        <div class="jobDetails">
                            <label class="jobName bold">Applicant Name</label>
                            <label class="jobCompany">Email</label>
                            <label class="jobLocation">Major</label>

                            <!-- Not too sure about the location of the pdf i assume in the database for you guys to grab -->
                            <form method="get" action="filename">
                                <button class="greenButton" type="submit">Resume</button>
                            </form>
                        </div>
        
                    </div>
                
                    <div class="jobPosting" id="testJob2">
                        <img src="../../Root/library/media/avatar.jpg" class="jobImg">
        
                        <div class="jobDetails">
                            <label class="jobName bold">Applicant Name</label>
                            <label class="jobCompany">Email</label>
                            <label class="jobLocation">Major</label>

                            <!-- Not too sure about the location of the pdf i assume in the database for you guys to grab -->
                            <form method="get" action="filename">
                                <button class="greenButton" type="submit">Resume</button>
                            </form>
                        </div>
        
                </div>
                <div class="jobPosting" id="testJob3">
                    <img src="../../Root/library/media/avatar.jpg" class="jobImg">
    
                    <div class="jobDetails">
                        <label class="jobName bold">Applicant Name</label>
                        <label class="jobCompany">Email</label>
                        <label class="jobLocation">Major</label>

                        <!-- Not too sure about the location of the pdf i assume in the database for you guys to grab -->
                        <form method="get" action="filename">
                            <button class="greenButton" type="submit">Resume</button>
                        </form>
                    </div>
    
            </div>
            </div>
        </div>

    </div>

</body>
</html>