<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Profile</title>
    <link rel="stylesheet" type="text/css" href="../../Root/css/shared.css">
    <link rel="stylesheet" type="text/css" href="../../Root/css/profileStudent.css">
</head>
<body>
    

    <!-- 
        ALL IDS
        studentAvatar
        studentName
        studentEmail
        studentID
        studentMajor
        studentStatus
        resumeButton
    -->

    <div class="page-wrap">

            <nav>
                <img src="../../Root/library/media/UR_Logo_Primary_Full_COlour_RGB.png" height="62">
            </nav>

        <div class="cust-main-wrapper">

            <div class="info-box1">

                <div class="align-center">
                    <img src="../../Root/library/media/avatar1.jpg" id="studentAvatar" class="avatar">
                </div>

                <h1 class="align-center" id="studentName">Student Name</h1>

                <h2 class="align-center">User details</h2>
        

                <div class="userDetails">
                    <label class="detailText bold">Email:</label>
                    <label class="detailText" id="studentEmail">{{ students.email }}</label>
                    <label class="detailText bold">Student ID:</label>
                    <label class="detailText" id="studentID">{{ students.student_id }}</label>
                    <label class="detailText bold">Major:</label>
                    <label class="detailText" id="studentMajor">{{ students.major }}</label>
                    <label class="detailText bold">Availability:</label>
                    <label class="detailText" id="studentStatus">{{ "Looking for job" if students.looking_for_job else "Not looking for job" }}</label>
                </div>

             <!--    Backend location for pdf -->
                <form method="get" action="filename">
                    <button class="greenButton resumeButton" id="resumeButton" type="submit">View Resume</button>
                </form>

                <div class="padTop">
                    <a class="float-right" href="studentprofileEdit.html">Edit Profile</a>
                </div>

            </div>

            <div class="info-box2">
              
                <h2 class="align-center">Applied jobs</h2>

                <div class="jobList roundForm">
                      <div class="jobPosting" id="testJob1">
                          <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="jobImg">
          
                          <div class="jobDetails">
                              <label class="jobName bold">Administrative Assistant</label>
                              <label class="jobCompany">University of Regina</label>
                              <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                              <label class="datePosted">2 months ago</label>
                          </div>
          
                      </div>
                  
                      <div class="jobPosting" id="testJob2">
                          <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="jobImg">
          
                          <div class="jobDetails">
                              <label class="jobName bold">Administrative Assistant</label>
                              <label class="jobCompany">University of Regina</label>
                              <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                              <label class="datePosted">2 months ago</label>
                          </div>
          
                      </div>
                      <div class="jobPosting" id="testJob3">
                          <img src="../../Root/library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg" class="jobImg">
          
                          <div class="jobDetails">
                              <label class="jobName bold">Administrative Assistant</label>
                              <label class="jobCompany">University of Regina</label>
                              <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                              <label class="datePosted">2 months ago</label>
                          </div>
          
                      </div>
                  </div>


            </div>


        </div>

    </div>

</body>
</html>