<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employer Profile | UR Connect</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profileEmployer.css') }}">
    <script src="https://kit.fontawesome.com/4058d35757.js" crossorigin="anonymous"></script>

</head>
<body>

    <div class="page-wrap">

        <nav class="header">
            <div class="header-container">
                <div class="header-logo">
                    <a href="{{ url_for('jobListings') }}">
                        <div class="header-logo">
                            <img src="{{ url_for('static', filename='library/media/UR_Logo_Primary_Full_Colour_RGB.png') }}" class="logo">
                        </div>
                    </a>
                </div>
                <div class="header-profilenav">
                    
                    <div class="dropdown">
                        <button class="dropbtn"><img src="{{ url_for('static', filename='library/media/avatars/' ~ employer.avatar ) }}" width="30vw" ></button>
                        <div class="dropdown-content">
                            <div class="dropdown-content">
                                <a href="{{ url_for('profileEmployer') }}"><i class="fa-solid fa-user"></i> My Profile</a> 
                                <a href="{{ url_for('editEmployer') }}"><i class="fa-solid fa-user-pen"></i> Edit Profile</a> 
                                <a href="{{ url_for('jobListings') }}"><i class="fa-solid fa-list"></i> Job Listings</a> 
                                <a href="{{ url_for('postJob') }}"><i class="fa-solid fa-square-plus"></i> Post Job</a>
                                <a href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a> 
                            </div>
                        </div>
                    </div>
                    <div class="profile-name">{{ employer.first_name }} {{ employer.last_name }}</div>
                </div>
            </div>
        </nav>

        <div class="cust-main-wrapper">

            <div class="info-box1">

                <div class="align-center">
                    <img src="{{ url_for('static', filename='library/media/avatars/' ~ employer.avatar ) }}" class="jobImg">
                </div>

                <h1 class="align-center" id="employerName">{{ employer.first_name }} {{ employer.last_name }}</h1>

                <h2 class="align-center">Employer details</h2>
        
                <div class="userDetails">
                    <label class="detailText bold">Email:</label>
                    <label class="detailText" id="employerEmail">{{ employer.email }}</label>
                    <label class="detailText bold">Company Name:</label>
                    <label class="detailText" id="employerName">{{ employer.company_name }}</label>
                    <label class="detailText bold">Company Address:</label>
                    <label class="detailText" id="employerEmail">{{ employer.address }}</label>
                    <label class="detailText bold">Company Phone Number:</label>
                    <label class="detailText" id="employerNumber">{{ employer.phone }}</label>

                </div>
                
                <form method="GET" action="/editEmployer">
                    <button class="greenButton resumeButton" id="resumeButton" type="submit"><i class="fa-solid fa-user-pen"></i> Edit Profile</button>
                </form>

                
          
         

            </div>

        </div>

    </div>

</body>
</html>