<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employer Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profileEmployer.css') }}">
    <script src="https://kit.fontawesome.com/4058d35757.js" crossorigin="anonymous"></script>

</head>
<body>

    <!-- 
        ALL IDS
        employerAvatar
        employerName
        employerEmail
        employerName
        employerEmail   
        employerNumber
    -->

    <div class="page-wrap">

        <nav class="header">
            <div class="header-container">
                <div class="header-logo">
                    <img src="{{ url_for('static', filename='library/media/UR_Logo_Primary_Full_Colour_RGB.png') }}" class="logo">
                </div>
                <div class="header-profilenav">
                    <div class="profile-name">{{ employers.first_name }} {{ employers.last_name }}</div>
                    <div class="dropdown">
                        <button class="dropbtn"><i class="fa-solid fa-square-caret-down"></i></button>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="cust-main-wrapper">

            <div class="info-box1">

                <div class="align-center">
                    <img src="{{ url_for('static', filename='library/media/avatars/' ~ employers.avatar ) }}" class="jobImg">
                </div>

                <h1 class="align-center" id="employerName">{{ employers.first_name }} {{ employers.last_name }}</h1>

                <h2 class="align-center">Employer details</h2>
        
                <div class="userDetails">
                    <label class="detailText bold">Email:</label>
                    <label class="detailText" id="employerEmail">{{ employers.email }}</label>
                    <label class="detailText bold">Company Name:</label>
                    <label class="detailText" id="employerName">{{ employers.company_name }}</label>
                    <label class="detailText bold">Company Address:</label>
                    <label class="detailText" id="employerEmail">{{ employers.address }}</label>
                    <label class="detailText bold">Company Phone Number:</label>
                    <label class="detailText" id="employerNumber">{{ employers.phone }}</label>

                </div>
                
                <form method="GET" action="/editEmployer">
                    <button class="greenButton resumeButton" id="resumeButton" type="submit">EditProfile</button>
                </form>

                
          
         

            </div>

        </div>

    </div>

</body>
</html>