<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Profile | UR Connect</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profileStudent.css') }}">
    <script src="https://kit.fontawesome.com/4058d35757.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="page-wrap">
        <nav class="header">
            <div class="header-container">
                <div class="header-logo">
                    <a href="{{ url_for('jobListings') }}">
                        <div class="header-logo">
                            <img src="{{ url_for('static', filename='library/media/UR_Logo_Primary_Full_Colour_RGB.png') }}" class="logo">
                        </div>
                    </a>
                </div>
                <div class="header-profilenav">
                    
                    <div class="dropdown">
                        <button class="dropbtn"><img class="header-profile-icon" src="{{ url_for('static', filename='library/media/avatars/' ~ student.avatar ) }}" width="30vw" ></button>
                        <div class="dropdown-content">
                            <div class="dropdown-content">
                                <a href="{{ url_for('profileStudent') }}"><i class="fa-solid fa-user"></i> My Profile</a> 
                                <a href="{{ url_for('editStudent') }}"><i class="fa-solid fa-user"></i> Edit Profile</a> 
                                <a href="{{ url_for('jobListings') }}"><i class="fa-solid fa-list"></i> Job Listings</a> 
                                <a href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a> 
                            </div>
                        </div>
                    </div>
                    <div class="profile-name">{{ student.first_name }} {{ student.last_name }}</div>
                </div>
            </div>
        </nav>
        <div class="profile-container">
            <div class="cust-main-wrapper">

                <div class="info-box">
    
                    <div class="align-center">
                        <img src="{{ url_for('static', filename='library/media/avatars/' ~ student.avatar ) }}" class="jobImg">
                    </div>
    
                    <h1 class="align-center" id="studentName">{{ student.first_name }} {{ student.last_name }}</h1>
    
                    <h2 class="align-center">User Details</h2>
            
                    <div class="userDetails">
                        <label class="detailText bold">Email:</label>
                        <label class="detailText" id="studentEmail">{{ student.email }}</label>
                        <label class="detailText bold">Student ID:</label>
                        <label class="detailText" id="studentID">{{ student.student_id }}</label>
                        <label class="detailText bold">Major:</label>
                        <label class="detailText" id="studentMajor">{{ student.major }}</label>
                        <label class="detailText bold">Availability:</label>
                        <label class="detailText" id="studentStatus">{{ "Looking for job" if student.looking_for_job else "Not looking for job" }}</label>
                    </div>
    
                 <!--    Backend location for pdf -->
                <form method="get" action="{{ url_for('static', filename='library/media/resumes/' ~ student.resume) }}" target="_blank">
                    <button class="greenButton resumeButton" id="resumeButton" type="submit"><i class="fa-solid fa-file"></i> View Resume</button>
                </form>
    
                    <form method="GET" action="/editStudent">
                        <button class="greenButton resumeButton" id="resumeButton" type="submit"><i class="fa-solid fa-user-pen"></i> Edit Profile</button>
                    </form>
                </div>
    
                <div class="info-box2">
                  
                    <h2 class="align-center">Applied jobs</h2>
    
                    <div class="jobList roundForm">
                          <div class="jobPosting" id="testJob1">
                              <img src="{{ url_for('static', filename='library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg') }}" class="jobImg">
              
                              <div class="jobDetails">
                                  <label class="jobName bold">Administrative Assistant</label>
                                  <label class="jobCompany">University of Regina</label>
                                  <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                                  <label class="datePosted">2 months ago</label>
                              </div>
              
                          </div>
                      
                          <div class="jobPosting" id="testJob2">
                            <img src="{{ url_for('static', filename='library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg') }}" class="jobImg">
              
                              <div class="jobDetails">
                                  <label class="jobName bold">Administrative Assistant</label>
                                  <label class="jobCompany">University of Regina</label>
                                  <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                                  <label class="datePosted">2 months ago</label>
                              </div>
              
                          </div>
                          <div class="jobPosting" id="testJob3">
                            <img src="{{ url_for('static', filename='library/media/UR_Logo_Secondary_Stacked Full_Colour_RGB.jpg') }}" class="jobImg">
              
                              <div class="jobDetails">
                                  <label class="jobName bold">Administrative Assistant</label>
                                  <label class="jobCompany">University of Regina</label>
                                  <label class="jobLocation">Regina, Saskatchewan, Canada</label>
                                  <label class="datePosted">2 months ago</label>
                              </div>
              
                          </div>
                      </div>
    
    
                </div>
    
    
            </div>
        </div>

    </div>

</body>
</html>