<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources | UR Connect</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resources.css') }}">
    <script src="https://kit.fontawesome.com/4058d35757.js" crossorigin="anonymous"></script>
</head>
<body>

    <!--Dynamically show header based the user's session type-->
    <!-- STUDENT HEADER -->
    {% if 'student' in session %}
    <nav class="header">
        <div class="header-container">
            <div class="header-logo">
                <a href="{{ url_for('jobListings') }}">
                    <div class="header-logo">
                        <img src="{{ url_for('static', filename='library/media/UR_Logo_Primary_Full_Colour_RGB.png') }}" class="logo">
                    </div>
                </a>
            </div>

            <div class="header-profilenav">

                <div class="dropdown">
                    <button class="dropbtn"><img class="header-profile-icon" src="{{ url_for('static', filename='library/media/avatars/' ~ student.avatar ) }}" width="30vw" ></button>
                    <div class="dropdown-content">
                        <div class="dropdown-content">
                            <a href="{{ url_for('profileStudent') }}"><i class="fa-solid fa-user"></i> My Profile</a>
                            <a href="{{ url_for('editStudent') }}"><i class="fa-solid fa-user"></i> Edit Profile</a>
                            <a href="{{ url_for('jobListings') }}"><i class="fa-solid fa-list"></i> Job Listings</a>
                            <a href="{{ url_for('resources') }}"><i class="fa-solid fa-book"></i> Resources</a>
                            <a href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                        </div>
                    </div>
                </div>
                <div class="header-profile-name">{{ student.first_name }} {{ student.last_name }}</div>
            </div>
        </div>
    </nav>

    <!-- EMPLOYER HEADER -->
    {% elif 'employer' in session %}
    <nav class="header">
        <div class="header-container">
            <div class="header-logo">
                <a href="{{ url_for('jobListings') }}">
                    <div class="header-logo">
                        <img src="{{ url_for('static', filename='library/media/UR_Logo_Primary_Full_Colour_RGB.png') }}" class="logo">
                    </div>
                </a>
            </div>
            <div class="header-profilenav">

                <div class="dropdown">
                    <button class="dropbtn"><img class="header-profile-icon" src="{{ url_for('static', filename='library/media/avatars/' ~ employer.avatar ) }}" ></button>
                    <div class="dropdown-content">
                        <div class="dropdown-content">
                            <a href="{{ url_for('profileEmployer') }}"><i class="fa-solid fa-user"></i> My Profile</a>
                            <a href="{{ url_for('editEmployer') }}"><i class="fa-solid fa-user"></i> Edit Profile</a>
                            <a href="{{ url_for('jobListings') }}"><i class="fa-solid fa-list"></i> Job Listings</a>
                            <a href="{{ url_for('postJob') }}"><i class="fa-solid fa-square-plus"></i> Post Job</a>
                            <a href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
                        </div>
                    </div>
                </div>
                <div class="header-profile-name">{{ employer.first_name }} {{ employer.last_name }}</div>
            </div>
        </div>
    </nav>
    {% endif %}

    <!-- Resource section -->
    <div class="listing main-wrapper">
        <div class="resource-body">
            <div class="postTitle">Resources</div>
            <div class="resource-container">
                <a href="{{ url_for('jobListings') }}" class="resource-block1">
                    <div class="resource-title">
                        Job Listings
                    </div>
                </a>
                <a href="https://www.jobbank.gc.ca/findajob/resources/write-good-resume" class="resource-block2">
                    <div class="resource-title">
                        Resume Building
                    </div>
                </a>
                <a href="https://github.com/DylanKenji/CS476PROJ" class="resource-block3">
                    <div class="resource-title">
                        Our Github Link
                    </div>
                </a>
                <a href="https://hbr.org/2021/11/10-common-job-interview-questions-and-how-to-answer-them" class="resource-block4">
                    <div class="resource-title">
                        Interview Preperation
                    </div>
                </a>
                <a href="https://learning.linkedin.com/customer-success-center/industry-insights" class="resource-block5">
                    <div class="resource-title">
                        Industry Insights
                    </div>
                </a>
                <a href="https://hbr.org/2023/03/a-beginners-guide-to-networking" class="resource-block6">
                    <div class="resource-title">
                        Networking Tips
                    </div>
                </a>
                <a href="https://www.themuse.com/advice/the-secret-weapon-that-anyone-can-bring-to-an-interview-to-stand-out" class="resource-block7">
                    <div class="resource-title">
                        Portfolio Building
                    </div>
                </a>
                <a href="https://zapier.com/resources/guides/remote-work" class="resource-block8">
                    <div class="resource-title">
                        Remote Work
                    </div>
                </a>
                <a href="https://www.d2l.com/blog/continuing-education-the-guide-to-getting-started/" class="resource-block9">
                    <div class="resource-title">
                        Continued Education
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>